In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import datetime
from decimal import Decimal

spark.conf.set('spark.sql.caseSensitive', True)

### Account

In [ ]:
# Data
data = [
    (1,'10999','Turnover #1','10999 - Turnover #1',0,'Income'),
    (1,'11000','Turnover #2','11000 - Turnover #2',0,'Income'),
    (1,'11010','Turnover #3','11010 - Turnover #3',0,'Income'),
    (1,'11050','Turnover #4','11050 - Turnover #4',0,'Income'),
    (1,'11060','Turnover #5','11060 - Turnover #5',0,'Income'),
    (1,'11070','Turnover #6','11070 - Turnover #6',0,'Income'),
    (1,'11080','Turnover #7','11080 - Turnover #7',0,'Income'),
    (1,'11090','Turnover #8','11090 - Turnover #8',0,'Income'),
    (1,'11095','Turnover #9','11095 - Turnover #9',0,'Income'),
    (1,'11100','Turnover #10','11100 - Turnover #10',0,'Income'),
    (1,'11105','Turnover #11','11105 - Turnover #11',0,'Income'),
    (1,'11106','Turnover #12','11106 - Turnover #12',0,'Income'),
    (1,'11107','Turnover #13','11107 - Turnover #13',0,'Income'),
    (1,'11108','Turnover #14','11108 - Turnover #14',0,'Income'),
    (1,'11109','Turnover #15','11109 - Turnover #15',0,'Income'),
    (1,'11110','Turnover #16','11110 - Turnover #16',0,'Income'),
    (1,'11113','Turnover #17','11113 - Turnover #17',0,'Income'),
    (1,'11114','Turnover #18','11114 - Turnover #18',0,'Income'),
    (1,'11115','Turnover #19','11115 - Turnover #19',0,'Income'),
    (1,'11120','Turnover #20','11120 - Turnover #20',0,'Income'),
    (1,'11125','Turnover #21','11125 - Turnover #21',0,'Income'),
    (1,'11130','Turnover #22','11130 - Turnover #22',0,'Income'),
    (1,'11135','Turnover #23','11135 - Turnover #23',0,'Income'),
    (1,'11140','Turnover #24','11140 - Turnover #24',0,'Income'),
    (1,'11145','Turnover #25','11145 - Turnover #25',0,'Income'),
    (1,'11150','Turnover #26','11150 - Turnover #26',0,'Income'),
    (1,'11300','Turnover #27','11300 - Turnover #27',0,'Income'),
    (1,'11325','Turnover #28','11325 - Turnover #28',0,'Income'),
    (1,'11350','Turnover #29','11350 - Turnover #29',0,'Income'),
    (1,'11400','Turnover #30','11400 - Turnover #30',0,'Income'),
    (1,'11460','Turnover #31','11460 - Turnover #31',0,'Income'),
    (1,'20000','Costs of goods sold #1','20000 - Costs of goods sold #1',0,'Income'),
    (1,'20020','Costs of goods sold #2','20020 - Costs of goods sold #2',0,'Income'),
    (1,'20030','Costs of goods sold #3','20030 - Costs of goods sold #3',0,'Income'),
    (1,'20040','Costs of goods sold #4','20040 - Costs of goods sold #4',0,'Income'),
    (1,'20050','Costs of goods sold #5','20050 - Costs of goods sold #5',0,'Income'),
    (1,'20060','Costs of goods sold #6','20060 - Costs of goods sold #6',0,'Income'),
    (1,'20070','Costs of goods sold #7','20070 - Costs of goods sold #7',0,'Income'),
    (1,'20090','Costs of goods sold #8','20090 - Costs of goods sold #8',0,'Income'),
    (1,'20100','Costs of goods sold #9','20100 - Costs of goods sold #9',0,'Income'),
    (1,'20140','Costs of goods sold #10','20140 - Costs of goods sold #10',0,'Income'),
    (1,'20160','Costs of goods sold #11','20160 - Costs of goods sold #11',0,'Income'),
    (1,'20200','Costs of goods sold #12','20200 - Costs of goods sold #12',0,'Income'),
    (1,'20250','Costs of goods sold #13','20250 - Costs of goods sold #13',0,'Income'),
    (1,'20300','Costs of goods sold #14','20300 - Costs of goods sold #14',0,'Income'),
    (1,'20310','Costs of goods sold #15','20310 - Costs of goods sold #15',0,'Income'),
    (1,'20890','Costs of goods sold #16','20890 - Costs of goods sold #16',0,'Income'),
    (1,'20998','Costs of goods sold #17','20998 - Costs of goods sold #17',0,'Income'),
    (1,'22000','Wages #1','22000 - Wages #1',0,'Income'),
    (1,'22040','Wages #2','22040 - Wages #2',0,'Income'),
    (1,'22050','Wages #3','22050 - Wages #3',0,'Income'),
    (1,'22060','Wages #4','22060 - Wages #4',0,'Income'),
    (1,'22070','Wages #5','22070 - Wages #5',0,'Income'),
    (1,'22080','Wages #6','22080 - Wages #6',0,'Income'),
    (1,'22090','Wages #7','22090 - Wages #7',0,'Income'),
    (1,'22100','Wages #8','22100 - Wages #8',0,'Income'),
    (1,'22200','Wages #9','22200 - Wages #9',0,'Income'),
    (1,'22250','Wages #10','22250 - Wages #10',0,'Income'),
    (1,'22300','Wages #11','22300 - Wages #11',0,'Income'),
    (1,'22400','Wages #12','22400 - Wages #12',0,'Income'),
    (1,'22500','Wages #13','22500 - Wages #13',0,'Income'),
    (1,'22700','Wages #14','22700 - Wages #14',0,'Income'),
    (1,'22800','Wages #15','22800 - Wages #15',0,'Income'),
    (1,'22900','Wages #16','22900 - Wages #16',0,'Income'),
    (1,'22950','Wages #17','22950 - Wages #17',0,'Income'),
    (1,'23000','Wages #18','23000 - Wages #18',0,'Income'),
    (1,'23050','Wages #19','23050 - Wages #19',0,'Income'),
    (1,'23100','Wages #20','23100 - Wages #20',0,'Income'),
    (1,'23150','Wages #21','23150 - Wages #21',0,'Income'),
    (1,'23160','Wages #22','23160 - Wages #22',0,'Income'),
    (1,'23200','Wages #23','23200 - Wages #23',0,'Income'),
    (1,'23998','Wages #24','23998 - Wages #24',0,'Income'),
    (1,'25000','Other costs; wages #1','25000 - Other costs; wages #1',0,'Income'),
    (1,'25025','Other costs; wages #2','25025 - Other costs; wages #2',0,'Income'),
    (1,'25026','Other costs; wages #3','25026 - Other costs; wages #3',0,'Income'),
    (1,'25030','Other costs; wages #4','25030 - Other costs; wages #4',0,'Income'),
    (1,'25050','Other costs; wages #5','25050 - Other costs; wages #5',0,'Income'),
    (1,'25075','Other costs; wages #6','25075 - Other costs; wages #6',0,'Income'),
    (1,'25100','Other costs; wages #7','25100 - Other costs; wages #7',0,'Income'),
    (1,'25150','Other costs; wages #8','25150 - Other costs; wages #8',0,'Income'),
    (1,'25200','Other costs; wages #9','25200 - Other costs; wages #9',0,'Income'),
    (1,'25250','Other costs; wages #10','25250 - Other costs; wages #10',0,'Income'),
    (1,'25300','Other costs; wages #11','25300 - Other costs; wages #11',0,'Income'),
    (1,'25400','Other costs; wages #12','25400 - Other costs; wages #12',0,'Income'),
    (1,'25500','Other costs; wages #13','25500 - Other costs; wages #13',0,'Income'),
    (1,'25600','Other costs; wages #14','25600 - Other costs; wages #14',0,'Income'),
    (1,'25890','Other costs; wages #15','25890 - Other costs; wages #15',0,'Income'),
    (1,'25997','Other costs; wages #16','25997 - Other costs; wages #16',0,'Income'),
    (1,'29999','Property costs #1','29999 - Property costs #1',0,'Income'),
    (1,'30000','Property costs #2','30000 - Property costs #2',0,'Income'),
    (1,'30060','Property costs #3','30060 - Property costs #3',0,'Income'),
    (1,'30200','Property costs #4','30200 - Property costs #4',0,'Income'),
    (1,'30210','Property costs #5','30210 - Property costs #5',0,'Income'),
    (1,'30250','Property costs #6','30250 - Property costs #6',0,'Income'),
    (1,'30260','Property costs #7','30260 - Property costs #7',0,'Income'),
    (1,'30300','Property costs #8','30300 - Property costs #8',0,'Income'),
    (1,'30400','Property costs #9','30400 - Property costs #9',0,'Income'),
    (1,'30410','Property costs #10','30410 - Property costs #10',0,'Income'),
    (1,'30500','Property costs #11','30500 - Property costs #11',0,'Income'),
    (1,'30600','Property costs #12','30600 - Property costs #12',0,'Income'),
    (1,'30650','Property costs #13','30650 - Property costs #13',0,'Income'),
    (1,'30655','Property costs #14','30655 - Property costs #14',0,'Income'),
    (1,'30660','Property costs #15','30660 - Property costs #15',0,'Income'),
    (1,'30890','Property costs #16','30890 - Property costs #16',0,'Income'),
    (1,'30998','Property costs #17','30998 - Property costs #17',0,'Income'),
    (1,'31999','Insurance #1','31999 - Insurance #1',0,'Income'),
    (1,'32000','Insurance #2','32000 - Insurance #2',0,'Income'),
    (1,'32100','Insurance #3','32100 - Insurance #3',0,'Income'),
    (1,'32200','Insurance #4','32200 - Insurance #4',0,'Income'),
    (1,'32300','Insurance #5','32300 - Insurance #5',0,'Income'),
    (1,'32400','Insurance #6','32400 - Insurance #6',0,'Income'),
    (1,'32500','Insurance #7','32500 - Insurance #7',0,'Income'),
    (1,'32600','Insurance #8','32600 - Insurance #8',0,'Income'),
    (1,'32700','Insurance #9','32700 - Insurance #9',0,'Income'),
    (1,'32900','Insurance #10','32900 - Insurance #10',0,'Income'),
    (1,'32999','Consulting and advisory services #1','32999 - Consulting and advisory services #1',0,'Income'),
    (1,'33000','Consulting and advisory services #2','33000 - Consulting and advisory services #2',0,'Income'),
    (1,'33100','Consulting and advisory services #3','33100 - Consulting and advisory services #3',0,'Income'),
    (1,'33600','Consulting and advisory services #4','33600 - Consulting and advisory services #4',0,'Income'),
    (1,'33620','Consulting and advisory services #5','33620 - Consulting and advisory services #5',0,'Income'),
    (1,'33630','Consulting and advisory services #6','33630 - Consulting and advisory services #6',0,'Income'),
    (1,'33650','Consulting and advisory services #7','33650 - Consulting and advisory services #7',0,'Income'),
    (1,'33900','Consulting and advisory services #8','33900 - Consulting and advisory services #8',0,'Income'),
    (1,'33999','Conferences and courses #1','33999 - Conferences and courses #1',0,'Income'),
    (1,'34000','Conferences and courses #2','34000 - Conferences and courses #2',0,'Income'),
    (1,'34050','Conferences and courses #3','34050 - Conferences and courses #3',0,'Income'),
    (1,'34100','Conferences and courses #4','34100 - Conferences and courses #4',0,'Income'),
    (1,'34900','Conferences and courses #5','34900 - Conferences and courses #5',0,'Income'),
    (1,'34999','Subscriptions #1','34999 - Subscriptions #1',0,'Income'),
    (1,'35000','Subscriptions #2','35000 - Subscriptions #2',0,'Income'),
    (1,'35150','Subscriptions #3','35150 - Subscriptions #3',0,'Income'),
    (1,'35200','Subscriptions #4','35200 - Subscriptions #4',0,'Income'),
    (1,'35300','Subscriptions #5','35300 - Subscriptions #5',0,'Income'),
    (1,'35400','Subscriptions #6','35400 - Subscriptions #6',0,'Income'),
    (1,'35500','Subscriptions #7','35500 - Subscriptions #7',0,'Income'),
    (1,'35510','Subscriptions #8','35510 - Subscriptions #8',0,'Income'),
    (1,'35530','Subscriptions #9','35530 - Subscriptions #9',0,'Income'),
    (1,'35540','Subscriptions #10','35540 - Subscriptions #10',0,'Income'),
    (1,'35600','Subscriptions #11','35600 - Subscriptions #11',0,'Income'),
    (1,'35700','Subscriptions #12','35700 - Subscriptions #12',0,'Income'),
    (1,'35890','Subscriptions #13','35890 - Subscriptions #13',0,'Income'),
    (1,'35900','Subscriptions #14','35900 - Subscriptions #14',0,'Income'),
    (1,'35999','Miscellaneous purchases #1','35999 - Miscellaneous purchases #1',0,'Income'),
    (1,'36000','Miscellaneous purchases #2','36000 - Miscellaneous purchases #2',0,'Income'),
    (1,'36100','Miscellaneous purchases #3','36100 - Miscellaneous purchases #3',0,'Income'),
    (1,'36200','Miscellaneous purchases #4','36200 - Miscellaneous purchases #4',0,'Income'),
    (1,'36300','Miscellaneous purchases #5','36300 - Miscellaneous purchases #5',0,'Income'),
    (1,'36350','Miscellaneous purchases #6','36350 - Miscellaneous purchases #6',0,'Income'),
    (1,'36400','Miscellaneous purchases #7','36400 - Miscellaneous purchases #7',0,'Income'),
    (1,'36500','Miscellaneous purchases #8','36500 - Miscellaneous purchases #8',0,'Income'),
    (1,'36600','Miscellaneous purchases #9','36600 - Miscellaneous purchases #9',0,'Income'),
    (1,'36650','Miscellaneous purchases #10','36650 - Miscellaneous purchases #10',0,'Income'),
    (1,'36670','Miscellaneous purchases #11','36670 - Miscellaneous purchases #11',0,'Income'),
    (1,'36680','Miscellaneous purchases #12','36680 - Miscellaneous purchases #12',0,'Income'),
    (1,'36700','Miscellaneous purchases #13','36700 - Miscellaneous purchases #13',0,'Income'),
    (1,'36890','Miscellaneous purchases #14','36890 - Miscellaneous purchases #14',0,'Income'),
    (1,'36900','Miscellaneous purchases #15','36900 - Miscellaneous purchases #15',0,'Income'),
    (1,'36999','Travel and transportation #1','36999 - Travel and transportation #1',0,'Income'),
    (1,'37000','Travel and transportation #2','37000 - Travel and transportation #2',0,'Income'),
    (1,'37100','Travel and transportation #3','37100 - Travel and transportation #3',0,'Income'),
    (1,'37200','Travel and transportation #4','37200 - Travel and transportation #4',0,'Income'),
    (1,'37250','Travel and transportation #5','37250 - Travel and transportation #5',0,'Income'),
    (1,'37300','Travel and transportation #6','37300 - Travel and transportation #6',0,'Income'),
    (1,'37400','Travel and transportation #7','37400 - Travel and transportation #7',0,'Income'),
    (1,'37500','Travel and transportation #8','37500 - Travel and transportation #8',0,'Income'),
    (1,'37600','Travel and transportation #9','37600 - Travel and transportation #9',0,'Income'),
    (1,'37890','Travel and transportation #10','37890 - Travel and transportation #10',0,'Income'),
    (1,'37900','Travel and transportation #11','37900 - Travel and transportation #11',0,'Income'),
    (1,'37999','Marketing #1','37999 - Marketing #1',0,'Income'),
    (1,'38000','Marketing #2','38000 - Marketing #2',0,'Income'),
    (1,'38010','Marketing #3','38010 - Marketing #3',0,'Income'),
    (1,'38020','Marketing #4','38020 - Marketing #4',0,'Income'),
    (1,'38030','Marketing #5','38030 - Marketing #5',0,'Income'),
    (1,'38040','Marketing #6','38040 - Marketing #6',0,'Income'),
    (1,'38050','Marketing #7','38050 - Marketing #7',0,'Income'),
    (1,'38100','Marketing #8','38100 - Marketing #8',0,'Income'),
    (1,'38150','Marketing #9','38150 - Marketing #9',0,'Income'),
    (1,'38200','Marketing #10','38200 - Marketing #10',0,'Income'),
    (1,'39100','Marketing #11','39100 - Marketing #11',0,'Income'),
    (1,'39150','Marketing #12','39150 - Marketing #12',0,'Income'),
    (1,'39200','Marketing #13','39200 - Marketing #13',0,'Income'),
    (1,'39205','Marketing #14','39205 - Marketing #14',0,'Income'),
    (1,'39220','Marketing #15','39220 - Marketing #15',0,'Income'),
    (1,'39300','Marketing #16','39300 - Marketing #16',0,'Income'),
    (1,'39310','Marketing #17','39310 - Marketing #17',0,'Income'),
    (1,'39320','Marketing #18','39320 - Marketing #18',0,'Income'),
    (1,'39330','Marketing #19','39330 - Marketing #19',0,'Income'),
    (1,'39350','Marketing #20','39350 - Marketing #20',0,'Income'),
    (1,'39400','Marketing #21','39400 - Marketing #21',0,'Income'),
    (1,'39490','Marketing #22','39490 - Marketing #22',0,'Income'),
    (1,'39500','Marketing #23','39500 - Marketing #23',0,'Income'),
    (1,'39515','Other expenses #1','39515 - Other expenses #1',0,'Income'),
    (1,'39600','Other expenses #2','39600 - Other expenses #2',0,'Income'),
    (1,'39900','Other expenses #3','39900 - Other expenses #3',0,'Income'),
    (1,'39999','Depreciation #1','39999 - Depreciation #1',0,'Income'),
    (1,'40000','Depreciation #2','40000 - Depreciation #2',0,'Income'),
    (1,'40100','Depreciation #3','40100 - Depreciation #3',0,'Income'),
    (1,'40200','Depreciation #4','40200 - Depreciation #4',0,'Income'),
    (1,'40250','Depreciation #5','40250 - Depreciation #5',0,'Income'),
    (1,'40300','Depreciation #6','40300 - Depreciation #6',0,'Income'),
    (1,'40350','Depreciation #7','40350 - Depreciation #7',0,'Income'),
    (1,'40400','Depreciation #8','40400 - Depreciation #8',0,'Income'),
    (1,'40500','Depreciation #9','40500 - Depreciation #9',0,'Income'),
    (1,'40800','Depreciation #10','40800 - Depreciation #10',0,'Income'),
    (1,'40997','Depreciation #11','40997 - Depreciation #11',0,'Income'),
    (1,'40999','Financing #1','40999 - Financing #1',0,'Income'),
    (1,'41000','Financing #2','41000 - Financing #2',0,'Income'),
    (1,'41100','Financing #3','41100 - Financing #3',0,'Income'),
    (1,'41200','Financing #4','41200 - Financing #4',0,'Income'),
    (1,'41250','Financing #5','41250 - Financing #5',0,'Income'),
    (1,'41300','Financing #6','41300 - Financing #6',0,'Income'),
    (1,'41500','Financing #7','41500 - Financing #7',0,'Income'),
    (1,'41600','Financing #8','41600 - Financing #8',0,'Income'),
    (1,'41700','Financing #9','41700 - Financing #9',0,'Income'),
    (1,'41800','Financing #10','41800 - Financing #10',0,'Income'),
    (1,'41850','Financing #11','41850 - Financing #11',0,'Income'),
    (1,'41997','Financing #12','41997 - Financing #12',0,'Income'),
    (1,'41999','Income tax #1','41999 - Income tax #1',0,'Income'),
    (1,'42000','Income tax #2','42000 - Income tax #2',0,'Income'),
    (1,'42100','Income tax #3','42100 - Income tax #3',0,'Income'),
    (1,'42997','Income tax #4','42997 - Income tax #4',0,'Income'),
    (1,'10000','Unmapped #1','10000 - Unmapped #1',0,'Income'),
    (1,'10998','Unmapped #2','10998 - Unmapped #2',0,'Income'),
    (1,'11998','Unmapped #3','11998 - Unmapped #3',0,'Income'),
    (1,'19999','Unmapped #4','19999 - Unmapped #4',0,'Income'),
    (1,'20999','Unmapped #5','20999 - Unmapped #5',0,'Income'),
    (1,'21998','Unmapped #6','21998 - Unmapped #6',0,'Income'),
    (1,'21999','Unmapped #7','21999 - Unmapped #7',0,'Income'),
    (1,'24999','Unmapped #8','24999 - Unmapped #8',0,'Income'),
    (1,'25998','Unmapped #9','25998 - Unmapped #9',0,'Income'),
    (1,'26500','Unmapped #10','26500 - Unmapped #10',0,'Income'),
    (1,'26600','Unmapped #11','26600 - Unmapped #11',0,'Income'),
    (1,'31998','Unmapped #12','31998 - Unmapped #12',0,'Income'),
    (1,'36990','Unmapped #13','36990 - Unmapped #13',0,'Income'),
    (1,'39997','Unmapped #14','39997 - Unmapped #14',0,'Income'),
    (1,'39998','Unmapped #15','39998 - Unmapped #15',0,'Income'),
    (1,'40998','Unmapped #16','40998 - Unmapped #16',0,'Income'),
    (1,'41998','Unmapped #17','41998 - Unmapped #17',0,'Income'),
    (1,'49996','Unmapped #18','49996 - Unmapped #18',0,'Income'),
    (1,'50100','Balance Account #1','50100 - Balance Account #1',1,'Balance'),
    (1,'50200','Balance Account #2','50200 - Balance Account #2',1,'Balance'),
    (1,'50300','Balance Account #3','50300 - Balance Account #3',1,'Balance'),
    (2,'10999','Other Company Account Name #1','10999 - Other Company Account Name #1',0,'Income'),
    (2,'20000','Other Company Account Name #2','20000 - Other Company Account Name #2',0,'Income'),
    (2,'22000','Other Company Account Name #3','22000 - Other Company Account Name #3',0,'Income')
    ]

# Schema
columns = ["CompanyId", "AccountNo", "AccountName", "Account", "IncomeBalance", "IncomeBalanceDesc"]
schema = StructType([
    StructField("CompanyId", IntegerType(), nullable=False),
    StructField("AccountNo", StringType(), nullable=False),
    StructField("AccountName", StringType(), nullable=False),
    StructField("Account", StringType(), nullable=False),
    StructField("IncomeBalance", ShortType(), nullable=False),
    StructField("IncomeBalanceDesc", StringType(), nullable=False)
])

# DataFrame
dfAccount = spark.createDataFrame(data, columns)
dfAccount = dfAccount.withColumn("AccountId", monotonically_increasing_id())
dfAccount = dfAccount.select("AccountId", *dfAccount.columns[:-1])

# Save DataFrame as Delta table
dfAccount.write.format("delta").mode("overwrite").saveAsTable("Account")

### AccountSchedule

In [ ]:
# Data
data = [
    ('PL',10000,'R1000','Turnover','10999..11460','Account'),
    ('PL',20000,'R1010','Turnover total','R1000','Group'),
    ('PL',30000,'R1020','Costs of goods sold','20000..20998','Account'),
    ('PL',40000,'R1030','Costs of goods sold','R1020','Group'),
    ('PL',50000,'R1040','CM I','R1010+R1030','SubTotal'),
    ('PL',60000,'R1050','Wages','22000..23998','Account'),
    ('PL',70000,'R1060','Other costs, wages','25000..25997','Account'),
    ('PL',80000,'R1070','Direct Wages total','R1050..R1060','Group'),
    ('PL',90000,'R1080','CM II','R1040+R1070','SubTotal'),
    ('PL',100000,'R1090','Property costs','29999..30998','Account'),
    ('PL',110000,'R1100','Insurance','31999..32900','Account'),
    ('PL',120000,'R1110','Consulting and advisory services','32999..33900','Account'),
    ('PL',120001,'R1110','Duplicate RowNo','33900|33901','Account'),
    ('PL',130000,'R1120','Conferences and courses','33999..34900','Account'),
    ('PL',140000,'R1130','Subscriptions','34999..35900','Account'),
    ('PL',150000,'R1140','Miscellaneous purchases','35999..36900','Account'),
    ('PL',160000,'R1150','Travel and transportation','36999..37900|36680','Account'),
    ('PL',170000,'R1160','Marketing','37999..39500','Account'),
    ('PL',180000,'R1170','Other expenses','39515..39900','Account'),
    ('PL',190000,'R1180','Total fixed costs','R1090..R1170','Group'),
    ('PL',200000,'R1190','EBITDA','R1080+R1180','SubTotal'),
    ('PL',210000,'R1200','Depreciation','39999..40997','Account'),
    ('PL',220000,'R1210','EBIT','R1190+R1200','SubTotal'),
    ('PL',230000,'R1220','Financing','40999..41997','Account'),
    ('PL',240000,'R1230','Profit before tax','R1210','SubTotal'),
    ('PL',250000,'R1240','Income tax','41999..42997','Account'),
    ('PL',260000,'R1250','Profit after tax','R1230+R1240','SubTotal'),
    ('BS',100,'R100','Balance','50100..50300','Account')
    ]

# Schema
schema = StructType([
    StructField("ScheduleName", StringType(), nullable=False),
    StructField("SortOrder", IntegerType(), nullable=False),
    StructField("RowNo", StringType(), nullable=False),
    StructField("Description", StringType(), nullable=False),
    StructField("Totaling", StringType(), nullable=False),
    StructField("TotalingType", StringType(), nullable=False)
])

# DataFrame
df = spark.createDataFrame(data, schema)
df = df.withColumn("AccountScheduleId", monotonically_increasing_id())
df = df.select("AccountScheduleId", *df.columns[:-1])

# Save DataFrame as Delta table
df.write.format("delta").mode("overwrite").saveAsTable("AccountSchedule")

### AccountScheduleSetup

In [ ]:
# Data
data = [
    ('PL', 'Profit & Loss Statement', True, False),
    ('BS', 'Balance Sheet Statement', False, True),
    ('CF', 'Cash Flow Statement', True, True)
    ]

# Schema
schema = StructType([
    StructField("ScheduleName", StringType(), nullable=False),
    StructField("Description", StringType(), nullable=True),
    StructField("IncludeIncomeAccounts", BooleanType(), nullable=False),
    StructField("IncludeBalanceAccounts", BooleanType(), nullable=False)
])

# DataFrame
df = spark.createDataFrame(data, schema)

# Save DataFrame as Delta table
df.write.format("delta").mode("overwrite").saveAsTable("AccountScheduleSetup")

### FinanceTrans

In [ ]:
# Data
data = [
    (1, '10999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('-7.028905')),
    (1, '20000', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.937187')),
    (1, '22000', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '25000', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.937187')),
    (1, '29999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '31998', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '31999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '32999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '33999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '34999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '35999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '36680', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '37999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '39515', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '39999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '40999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '41999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '50100', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('2.342968')),
    (1, '50200', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('1.874375')),
    (1, '50300', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('1.405781')),
    (2, '10999', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('-2.342968')),
    (2, '20000', datetime.strptime('2023-08-09', '%Y-%m-%d').date(), Decimal('0.468594')),
    (1, '10999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('-1.617704')),
    (1, '20000', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.215694')),
    (1, '22000', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '25000', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.215694')),
    (1, '29999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '31998', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '31999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '32999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '33999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '34999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '35999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '36680', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '37999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '39515', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '39999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '40999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '41999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '50100', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.539235')),
    (1, '50200', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.431388')),
    (1, '50300', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.323541')),
    (2, '10999', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('-0.539235')),
    (2, '20000', datetime.strptime('2023-09-09', '%Y-%m-%d').date(), Decimal('0.107847')),
    (1, '10999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('-0.925972')),
    (1, '20000', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.123463')),
    (1, '22000', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '25000', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.123463')),
    (1, '29999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '31998', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '31999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '32999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '33999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '34999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '35999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '36680', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '37999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '39515', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '39999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '40999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '41999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '50100', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.308657')),
    (1, '50200', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.246926')),
    (1, '50300', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.185194')),
    (2, '10999', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('-0.308657')),
    (2, '20000', datetime.strptime('2023-10-09', '%Y-%m-%d').date(), Decimal('0.061731')),
    (1, '10999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('-1.075061')),
    (1, '20000', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.143342')),
    (1, '22000', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '25000', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.143342')),
    (1, '29999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '31998', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '31999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '32999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '33999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '34999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '35999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '36680', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '37999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '39515', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '39999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '40999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '41999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '50100', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.358354')),
    (1, '50200', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.286683')),
    (1, '50300', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.215012')),
    (2, '10999', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('-0.358354')),
    (2, '20000', datetime.strptime('2023-11-09', '%Y-%m-%d').date(), Decimal('0.071671')),
    (1, '10999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('-14.334197')),
    (1, '20000', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('1.911226')),
    (1, '22000', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '25000', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('1.911226')),
    (1, '29999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '31998', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '31999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '32999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '33999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '34999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '35999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '36680', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '37999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '39515', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '39999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '40999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '41999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '50100', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('4.778066')),
    (1, '50200', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('3.822452')),
    (1, '50300', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('2.866839')),
    (2, '10999', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('-4.778066')),
    (2, '20000', datetime.strptime('2023-12-09', '%Y-%m-%d').date(), Decimal('0.955613')),
    (1, '10999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('-8.562250')),
    (1, '20000', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('1.141633')),
    (1, '22000', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '25000', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('1.141633')),
    (1, '29999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '31998', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '31999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '32999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '33999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '34999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '35999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '36680', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '37999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '39515', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '39999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '40999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '41999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '50100', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('2.854083')),
    (1, '50200', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('2.283267')),
    (1, '50300', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('1.712450')),
    (2, '10999', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('-2.854083')),
    (2, '20000', datetime.strptime('2024-01-09', '%Y-%m-%d').date(), Decimal('0.570817')),
    (1, '10999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('-14.041692')),
    (1, '20000', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('1.872226')),
    (1, '22000', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '25000', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('1.872226')),
    (1, '29999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '31998', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '31999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '32999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '33999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '34999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '35999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '36680', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '37999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '39515', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '39999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '40999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '41999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '50100', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('4.680564')),
    (1, '50200', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('3.744451')),
    (1, '50300', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('2.808338')),
    (2, '10999', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('-4.680564')),
    (2, '20000', datetime.strptime('2024-02-09', '%Y-%m-%d').date(), Decimal('0.936113')),
    (1, '10999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('-9.924411')),
    (1, '20000', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('1.323255')),
    (1, '22000', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '25000', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('1.323255')),
    (1, '29999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '31998', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '31999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '32999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '33999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '34999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '35999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '36680', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '37999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '39515', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '39999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '40999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '41999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '50100', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('3.308137')),
    (1, '50200', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('2.646510')),
    (1, '50300', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('1.984882')),
    (2, '10999', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('-3.308137')),
    (2, '20000', datetime.strptime('2024-03-09', '%Y-%m-%d').date(), Decimal('0.661627')),
    (1, '10999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('-1.548552')),
    (1, '20000', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.206474')),
    (1, '22000', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '25000', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.206474')),
    (1, '29999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '31998', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '31999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '32999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '33999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '34999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '35999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '36680', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '37999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '39515', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '39999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '40999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '41999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '50100', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.516184')),
    (1, '50200', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.412947')),
    (1, '50300', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.309710')),
    (2, '10999', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('-0.516184')),
    (2, '20000', datetime.strptime('2024-04-09', '%Y-%m-%d').date(), Decimal('0.103237')),
    (1, '10999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('-7.893216')),
    (1, '20000', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('1.052429')),
    (1, '22000', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '25000', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('1.052429')),
    (1, '29999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '31998', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '31999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '32999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '33999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '34999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '35999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '36680', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '37999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '39515', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '39999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '40999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '41999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '50100', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('2.631072')),
    (1, '50200', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('2.104858')),
    (1, '50300', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('1.578643')),
    (2, '10999', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('-2.631072')),
    (2, '20000', datetime.strptime('2024-05-09', '%Y-%m-%d').date(), Decimal('0.526214')),
    (1, '10999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('-4.910629')),
    (1, '20000', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.654751')),
    (1, '22000', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '25000', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.654751')),
    (1, '29999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '31998', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '31999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '32999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '33999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '34999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '35999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '36680', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '37999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '39515', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '39999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '40999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '41999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '50100', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('1.636876')),
    (1, '50200', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('1.309501')),
    (1, '50300', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.982126')),
    (2, '10999', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('-1.636876')),
    (2, '20000', datetime.strptime('2024-06-09', '%Y-%m-%d').date(), Decimal('0.327375')),
    (1, '10999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('-15.000000')),
    (1, '20000', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('2.000000')),
    (1, '22000', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '25000', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('2.000000')),
    (1, '29999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '31998', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '31999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '32999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '33999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '34999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '35999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '36680', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '37999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '39515', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '39999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '40999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '41999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000')),
    (1, '50100', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('5.000000')),
    (1, '50200', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('4.000000')),
    (1, '50300', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('3.000000')),
    (2, '10999', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('-5.000000')),
    (2, '20000', datetime.strptime('2024-07-09', '%Y-%m-%d').date(), Decimal('1.000000'))
    ]

# Schema
schema = StructType([
    StructField("CompanyId", IntegerType(), nullable=False),
    StructField("AccountNo", StringType(), nullable=False),
    StructField("PostingDate", DateType(), nullable=False),
    StructField("Amount", DecimalType(38, 6), nullable=False)
])

# DataFrame
dfInput = spark.createDataFrame(data, schema)

# Join to Get AccountId
df = dfInput.alias("Input").join( \
        dfAccount.alias("A"), \
        ["CompanyId", "AccountNo"], \
        "inner" \
    ).select( \
        col("Input.CompanyId"), \
        col("A.AccountId"), \
        col("Input.PostingDate").cast("date"), \
        col("Input.Amount") \
    )

# Save DataFrame as Delta table
df.write.format("delta").mode("overwrite").saveAsTable("FinanceTrans")